body {
    background: #f0f0f0;
    font-family: Arial;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

#msg {
    margin-top: 10px;
    color: red;
}